.room {
  display: flex;
  height: 100vh;
}

.panel-izq {
  width: 20%; /* Cambiado a 30% */
  background-color: rgb(120, 178, 180);
  display: flex;
  box-sizing: border-box;
  flex-direction: column; /* Disposición vertical de sus hijos */
}

.paleta {
  width: 100%;
  height: 30%;
  display: flex; /* Usar flexbox */
  align-items: center; /* Centrar horizontalmente */
  justify-content: center;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.area-trabajo {
  height: 70%; /* Ajuste a 50% del panel izquierdo */
  width: 100%;
  background-color: lightgrey; /* Color de fondo para el área de trabajo */
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}

.diagrama {
  flex-grow: 1; /* Ocupa el espacio restante */
  background-color: rgb(219, 233, 234);
  box-sizing: border-box;
}

.btn-json {
  margin-top: 10px;
}

.input-file {
  margin-top: 10px;
}

.link {
  margin-top: 10px;
}

.rec-link {
  margin-top: 10px;
}

.atri{
    margin-top: 10px;
    margin-left: 5px;
}